* { border: 0; padding: 0; margin: 0; }

body { overflow-x: hidden; font-family: Lato, sans-serif; }

body::-webkit-scrollbar-track { border-radius: 3px; background-color: #101883; }

body::-webkit-scrollbar { width: 8px; background-color: #101883; }

body::-webkit-scrollbar-thumb { border-radius: 2px; background-color: #ffc629; }

header .topo { display: grid; grid-template-columns: auto; grid-template-rows: 50px 100px 150px; background-image: url("../../assets/bg-header.jpg"); background-repeat: no-repeat; background-size: 100% 100%; height: 245px !important; font-size: 14px; color: #101883; }
header .topo span { margin: 0 2rem; }
@media (max-width: 1080px) { header .topo span { margin: 0 1rem; font-size: 12px; } }
@media (max-width: 781px) { header .topo span { margin: 0 .3rem; font-size: 11px; text-align: center; } }
header .topo .barra-superior { display: -webkit-box; display: -ms-flexbox; display: flex; }
@media (max-width: 600px) { header .topo .barra-superior { padding: 1rem 0; } }
header .topo .barra-superior .contato { display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-align: center; -ms-flex-align: center; align-items: center; width: 50%; }
@media (max-width: 600px) { header .topo .barra-superior .contato { padding: 1rem 0; } }
header .topo .barra-superior .pedidos { display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-align: center; -ms-flex-align: center; align-items: center; -webkit-box-pack: end; -ms-flex-pack: end; justify-content: flex-end; width: 50%; }
@media (max-width: 781px) { header .topo .barra-superior .pedidos { margin: 0; } }
@media (max-width: 781px) { header .topo .barra-superior .pedidos { margin-right: 1rem; } }
header .topo .barra-superior span { display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-align: center; -ms-flex-align: center; align-items: center; }
@media (max-width: 600px) { header .topo .barra-superior span { -webkit-box-orient: vertical; -webkit-box-direction: normal; -ms-flex-direction: column; flex-direction: column; } }
header .topo .barra-superior span img { padding: .5rem; }
@media (max-width: 781px) { header .topo .barra-superior span img { padding: .2rem; } }
header .topo .logo { display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-pack: center; -ms-flex-pack: center; justify-content: center; -webkit-box-align: center; -ms-flex-align: center; align-items: center; }
@media (max-width: 600px) { header .topo .logo { padding-top: 1rem; } }
@media (max-width: 600px) { header .topo .logo img { width: 200px; height: 100px; } }
header .topo .barra-inferior { display: -webkit-box; display: -ms-flexbox; display: flex; height: 80px; padding: .8rem; }
header .topo .barra-inferior .social { display: -webkit-box; display: -ms-flexbox; display: flex; width: 25%; -webkit-box-align: center; -ms-flex-align: center; align-items: center; margin-left: 1.5rem; }
@media (max-width: 1080px) { header .topo .barra-inferior .social { margin-left: 0; } }
@media (max-width: 1080px) { header .topo .barra-inferior .social .facebook img { width: 25px; height: 25px; } }
header .topo .barra-inferior .social img { padding: .2rem; }
@media (max-width: 1080px) { header .topo .barra-inferior .social img { width: 30px; height: 30px; } }
header .topo .barra-inferior .search-bar { display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-align: center; -ms-flex-align: center; align-items: center; -webkit-box-pack: center; -ms-flex-pack: center; justify-content: center; width: 50%; }
@media (max-width: 1080px) { header .topo .barra-inferior .search-bar { margin-right: 1rem; } }
header .topo .barra-inferior .search-bar input { width: 80%; height: 45px; border-radius: 5px; padding: 0 1rem; }
@media (max-width: 1080px) { header .topo .barra-inferior .search-bar input { width: 100%; } }
header .topo .barra-inferior .account { display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-pack: end; -ms-flex-pack: end; justify-content: flex-end; z-index: 999; width: 25%; -webkit-box-align: center; -ms-flex-align: center; align-items: center; }
header .topo .barra-inferior .account .conta, header .topo .barra-inferior .account .itens { display: -webkit-box; display: -ms-flexbox; display: flex; position: relative; -webkit-box-orient: vertical; -webkit-box-direction: normal; -ms-flex-direction: column; flex-direction: column; -webkit-box-pack: center; -ms-flex-pack: center; justify-content: center; -webkit-box-align: center; -ms-flex-align: center; align-items: center; }
header .topo .barra-inferior .account .conta .conta-icon { background-image: url("../../assets/icons/user.png"); background-size: 45px 45px; background-repeat: no-repeat; width: 45px; height: 45px; cursor: pointer; }
@media (max-width: 600px) { header .topo .barra-inferior .account .conta .conta-icon { height: 35px; } }
header .topo .barra-inferior .account .conta .conta-icon.white-userbackground { background-image: url("../../assets/icons/user-white.png"); background-size: 45px 45px; background-repeat: no-repeat; width: 45px; height: 45px; }
header .topo .barra-inferior .account .itens .itens-icon { background-image: url("../../assets/icons/carrinho.png"); background-size: 45px 45px; background-repeat: no-repeat; width: 45px; height: 45px; color: #ffffff; cursor: pointer; }
@media (max-width: 600px) { header .topo .barra-inferior .account .itens .itens-icon { height: 35px; } }
header .topo .barra-inferior .account .itens .itens-icon.white-cartbackground { background-image: url("../../assets/icons/carrinho.png"); background-size: 45px 45px; background-repeat: no-repeat; width: 45px; height: 45px; color: #101883 !important; }
header .topo .barra-inferior .account .white-span-conta { color: #ffffff; }
header .topo .barra-inferior .account .white-span-carrinho { color: #101883 !important; }
header .topo .barra-inferior .minhaconta-options { display: none; background: white; width: 100px; text-align: center; position: absolute; margin-top: 5.8rem; padding: 2.1rem 0; }
header .topo .barra-inferior .minhaconta-options ul li { list-style: none; }
header .topo .barra-inferior .itens-options { display: none; background: white; width: 280px; height: 215px; text-align: center; position: absolute; margin-top: 5.8rem; padding: 3.1rem 0; right: 5px; top: -20px; }
header .topo .barra-inferior .itens-options ul li { list-style: none; }
header .topo .barra-inferior .itens-options .item1 { display: flex; align-items: center; box-sizing: border-box; padding-left: .5rem; }
header .topo .barra-inferior .itens-options .item1 .descricao { font-size: 11px; text-align: left; }
header .topo .barra-inferior .itens-options .item1 .valor { padding-left: .8rem; font-size: 12px; margin-right: .5rem; margin-bottom: 1rem; }
header .topo .barra-inferior .itens-options .item2 { display: flex; align-items: center; box-sizing: border-box; padding-left: .5rem; }
header .topo .barra-inferior .itens-options .item2 .descricao { font-size: 11px; text-align: left; }
header .topo .barra-inferior .itens-options .item2 .valor { padding-left: .8rem; font-size: 12px; margin-right: .5rem; margin-bottom: 1rem; }
header .topo .barra-inferior .itens-options .resumo { display: flex; justify-content: space-around; background: #ededed; padding: .5rem 0; color: grey; font-weight: 100; font-size: 13px; }
header .topo .barra-inferior .itens-options .botoes { display: flex; justify-content: center; padding: 1rem; }
header .topo .barra-inferior .itens-options .botoes .continuar { background: #e8ab28; padding: .5rem; width: 120px; border-radius: 4px; color: #ffffff; text-transform: uppercase; height: 35px; display: flex; align-items: center; justify-content: center; flex-direction: column; margin: .5rem .25rem; cursor: pointer; }
header .topo .barra-inferior .itens-options .botoes .finalizar { background: #61ac28; padding: .5rem; width: 120px; border-radius: 4px; color: #ffffff; text-transform: uppercase; height: 35px; display: flex; align-items: center; justify-content: center; flex-direction: column; margin: .5rem .25rem; cursor: pointer; }

@media (max-width: 1080px) { nav { display: -webkit-box; display: -ms-flexbox; display: flex; height: auto; position: absolute; } }
nav ul { display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-pack: center; -ms-flex-pack: center; justify-content: center; background: #101883; padding: .4rem 0; }
@media (max-width: 1080px) { nav ul { -ms-flex-wrap: wrap; flex-wrap: wrap; -webkit-box-pack: start; -ms-flex-pack: start; justify-content: flex-start; -webkit-box-align: center; -ms-flex-align: center; align-items: center; padding-left: 1.2rem; } }
@media (max-width: 1080px) and (max-width: 600px) { nav ul { -webkit-box-pack: center; -ms-flex-pack: center; justify-content: center; padding-left: 0; margin: 0 !important; } }

nav ul li { display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-pack: center; -ms-flex-pack: center; justify-content: center; -webkit-box-orient: vertical; -webkit-box-direction: normal; -ms-flex-direction: column; flex-direction: column; -webkit-box-align: center; -ms-flex-align: center; align-items: center; text-align: center; text-transform: uppercase; list-style: none; margin: 0 .3rem; height: 87px; width: 112px; color: #ffffff; font-size: 11px; }
@media (max-width: 781px) { nav ul li { width: 95px; height: 85px; } }
nav ul li img { padding-bottom: .5rem; }
@media (max-width: 781px) { nav ul li img { width: 35px; height: 35px; } }
nav ul li:first-child { background: #0a58c2; }
nav ul li:nth-child(2) { background: #ea4335; }
nav ul li:nth-child(3) { background: #fcac00; }
nav ul li:nth-child(3) img { padding-bottom: 0 !important; }
nav ul li:nth-child(4) { background: #00a000; }
@media (max-width: 600px) { nav ul li:nth-child(4) { margin-top: .4rem; } }
nav ul li:nth-child(5) { background: #5f3bb9; }
@media (max-width: 600px) { nav ul li:nth-child(5) { margin-top: .4rem; } }
nav ul li:nth-child(6) { background: #a400ae; }
@media (max-width: 1080px) { nav ul li:nth-child(6) { margin-top: .4rem; } }
nav ul li:nth-child(7) { background: #d24826; }
@media (max-width: 1080px) { nav ul li:nth-child(7) { margin-top: .4rem; } }
@media (max-width: 600px) { nav ul li:nth-child(7) { -webkit-box-pack: center; -ms-flex-pack: center; justify-content: center; } }
nav ul li:nth-child(8) { background: #459d6d; }
@media (max-width: 1080px) { nav ul li:nth-child(8) { margin-top: .4rem; } }
nav ul li:last-child { background: #00bff3; }
@media (max-width: 1080px) { nav ul li:last-child { margin-top: .4rem; } }
nav .menu-options { display: -webkit-box; display: -ms-flexbox; display: flex; -ms-flex-pack: distribute; justify-content: space-around; width: 100%; height: 450px; background: white; position: relative; top: -7px; display: none; }
@media (max-width: 1080px) { nav .menu-options { display: none !important; } }
nav .menu-options .content { display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-pack: center; -ms-flex-pack: center; justify-content: center; }
nav .menu-options .content ul { background: white !important; }
nav .menu-options .content ul li { background: transparent !important; color: #666666; height: 35px; }
nav .menu-options .content .col-1, nav .menu-options .content .col-2 { display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-orient: vertical; -webkit-box-direction: normal; -ms-flex-direction: column; flex-direction: column; padding: 0 3rem; }
nav .menu-options .content .image-submenu { padding: 5rem; }
nav .white-fullbackground { background: white !important; color: #5f3bb9 !important; }

.condicoes { display: -webkit-box; display: -ms-flexbox; display: flex; text-transform: uppercase; font-weight: 900; }
@media (max-width: 600px) { .condicoes { height: 200px; -ms-flex-wrap: wrap; flex-wrap: wrap; -webkit-box-align: center; -ms-flex-align: center; align-items: center; } }
.condicoes .box-condicoes { display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-pack: center; -ms-flex-pack: center; justify-content: center; -webkit-box-align: center; -ms-flex-align: center; align-items: center; width: 25%; height: 10vh; color: #666666; }
@media (max-width: 600px) { .condicoes .box-condicoes { width: 46%; -webkit-box-pack: start; -ms-flex-pack: start; justify-content: flex-start; padding-left: 4%; } }
.condicoes .box-condicoes .condicoes-text h2 { font-size: 12px; font-weight: bold; }
.condicoes .box-condicoes .condicoes-text h3 { font-size: 12px; }
.condicoes .box-condicoes .condicoes-text h4 { font-size: 10px; text-transform: none !important; }

.principal-slider { height: 50vh; }
@media (max-width: 1080px) { .principal-slider { height: 350px; padding-top: 8rem; } }
@media (max-width: 600px) { .principal-slider { height: 250px; padding-top: 5.5rem; } }
.principal-slider .slider { margin: 0 auto; width: 96%; }
.principal-slider .slide_viewer { height: 430px; overflow: hidden; position: relative; }
@media (max-width: 1080px) { .principal-slider .slide_viewer { height: 360px; } }
@media (max-width: 600px) { .principal-slider .slide_viewer { height: 260px; } }
.principal-slider .slide_group { height: 100%; position: relative; width: 100%; }
.principal-slider .slide { display: none; height: 100%; position: absolute; width: 100%; }
.principal-slider .slide:first-child { display: block; }
.principal-slider .slide:nth-of-type(1) { background-image: url("../../assets/banner-principal-slider.jpg"); background-repeat: no-repeat; background-size: 100% 100%; }
.principal-slider .slide:nth-of-type(2) { background-image: url("../../assets/banner-principal-slider.jpg"); background-repeat: no-repeat; background-size: 100% 100%; }
.principal-slider .slide_buttons { left: 0; position: absolute; right: 0; text-align: center; }
.principal-slider a.slide_btn { color: #474544; font-size: 42px; margin: 0 0.175em; -webkit-transition: all 0.4s ease-in-out; transition: all 0.4s ease-in-out; }
.principal-slider .slide_btn.active, .principal-slider .slide_btn:hover { color: #428CC6; cursor: pointer; }
.principal-slider .directional_nav { height: 340px; margin: 0 auto; max-width: 100%; position: relative; top: -340px; }
@media (max-width: 600px) { .principal-slider .directional_nav { height: 480px; } }
.principal-slider .previous_btn { bottom: 0; left: 100px; margin: auto; position: absolute; top: 0; margin-left: -55px; }
@media (max-width: 600px) { .principal-slider .previous_btn { left: 70px !important; } }
.principal-slider .next_btn { bottom: 0; margin: auto; position: absolute; right: 100px; top: 0; margin-right: -55px; }
.principal-slider .previous_btn, .principal-slider .next_btn { cursor: pointer; height: 115px; opacity: 0.5; -webkit-transition: opacity 0.4s ease-in-out; transition: opacity 0.4s ease-in-out; width: 65px; }
.principal-slider .previous_btn:hover, .principal-slider .next_btn:hover { opacity: 1; }
@media only screen and (max-width: 767px) { .principal-slider .previous_btn { left: 50px; }
  .principal-slider .next_btn { right: 50px; } }

main .departamentos { display: -webkit-box; display: -ms-flexbox; display: flex; -ms-flex-wrap: wrap; flex-wrap: wrap; -webkit-box-pack: center; -ms-flex-pack: center; justify-content: center; padding-top: 1.5rem; }
main .departamentos .box-departamento { width: 300px; height: 300px; margin: 1.5rem .5rem; border-radius: 50%; }
@media (max-width: 1279px) { main .departamentos .box-departamento { width: 250px; height: 250px; } }
@media (max-width: 1200px) { main .departamentos .box-departamento { width: 220px; height: 220px; } }
@media (max-width: 1080px) { main .departamentos .box-departamento { width: 170px; height: 170px; } }
@media (max-width: 600px) { main .departamentos .box-departamento { width: 135px; height: 135px; } }
main .departamentos .box-departamento span { display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-pack: center; -ms-flex-pack: center; justify-content: center; -webkit-box-align: center; -ms-flex-align: center; align-items: center; text-align: center; height: 35px; width: 100%; margin-bottom: 3rem; background: rgba(255, 255, 255, 0.6); font-size: 14px; font-weight: bold; text-transform: uppercase; }
main .departamentos .fantasias { background-image: url("../../assets/fantasias.jpg"); background-repeat: no-repeat; background-size: 100% 120%; display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-pack: center; -ms-flex-pack: center; justify-content: center; -webkit-box-align: end; -ms-flex-align: end; align-items: flex-end; }
main .departamentos .festa-junina { background-image: url("../../assets/festa-junina.jpg"); background-repeat: no-repeat; background-size: 100% 100%; display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-pack: center; -ms-flex-pack: center; justify-content: center; -webkit-box-align: end; -ms-flex-align: end; align-items: flex-end; }
main .departamentos .doces-confeitos { background-image: url("../../assets/doce-confeitos.jpg"); background-repeat: no-repeat; background-size: 100% 100%; display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-pack: center; -ms-flex-pack: center; justify-content: center; -webkit-box-align: end; -ms-flex-align: end; align-items: flex-end; }
main .departamentos .descartaveis { background-image: url("../../assets/descartaveis.jpg"); background-repeat: no-repeat; background-size: 100% 100%; display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-pack: center; -ms-flex-pack: center; justify-content: center; -webkit-box-align: end; -ms-flex-align: end; align-items: flex-end; }
main .main-content { display: -webkit-box; display: -ms-flexbox; display: flex; }
main .main-content .sidemenu { width: 200px; height: auto; padding-right: 1rem; }
@media (max-width: 600px) { main .main-content .sidemenu { display: none; } }
main .main-content .sidemenu ul { list-style: none; padding: .8rem; width: 200px; }
main .main-content .sidemenu li { padding: .1rem 0; padding: .2rem .5rem; font-size: 12px; }
main .main-content .sidemenu li:first-child { border-bottom: 2px solid orange; font-size: 14px; font-weight: bold; }
main .main-content .sidemenu li:last-child { text-align: end; }
main .main-content .sidemenu .categoria-unica { text-align: left !important; padding: .1rem 1rem !important; }
main .main-content .sidemenu b { color: #ffffff; background: #101883; border-radius: 50%; padding: .01rem .19rem; font-weight: 100; }
main .main-content .sidemenu img { width: 220px; padding-top: 1rem; }
main .main-content .content { -webkit-box-sizing: border-box; box-sizing: border-box; width: 80%; height: auto; padding: 0 1rem; }
@media (max-width: 600px) { main .main-content .content { width: 100%; } }
main .main-content .content .parceiros { box-sizing: border-box; }
main .main-content .content .item { display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-orient: vertical; -webkit-box-direction: normal; -ms-flex-direction: column; flex-direction: column; -webkit-box-pack: center; -ms-flex-pack: center; justify-content: center; text-align: center; padding: 1rem; }
main .main-content .content .item .titulo-produto { text-transform: uppercase; }
main .main-content .content .item .valor-antigo { font-size: 12px; color: grey; text-decoration: line-through; }
main .main-content .content .item .desconto { font-size: 13px; }
main .main-content .content .item .parcelado { color: #101883; font-size: 13px; }
main .main-content .content .item .slider-color { display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-pack: center; -ms-flex-pack: center; justify-content: center; }
main .main-content .content .item .slider-color .color1 { background: red; margin: 1rem .3rem; width: 25px; height: 25px; }
main .main-content .content .item .slider-color .color2 { background: indigo; margin: 1rem .3rem; width: 25px; height: 25px; }
main .main-content .content .item .slider-color .color3 { background: indianred; margin: 1rem .3rem; width: 25px; height: 25px; }
main .main-content .content .item .slider-color .color4 { background: blue; margin: 1rem .3rem; width: 25px; height: 25px; }
main .main-content .content .item .slider-color .color5 { background: lawngreen; margin: 1rem .3rem; width: 25px; height: 25px; }
main .main-content .content .item .slider-color .lancamentos { display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-pack: center; -ms-flex-pack: center; justify-content: center; }
main .main-content .content .title { display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-align: center; -ms-flex-align: center; align-items: center; padding: 1rem 0; }
main .main-content .content .title h1 { font-size: 22px; font-weight: 500; color: #666666; }
main .main-content .content .mini-banners { -webkit-box-sizing: border-box; box-sizing: border-box; width: 100%; display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-pack: center; -ms-flex-pack: center; justify-content: center; }
@media (max-width: 781px) { main .main-content .content .mini-banners { justify-content: start; } }
main .main-content .content .mini-banners .box1 { width: 500px; padding: 0 .5rem; }
@media (max-width: 1080px) { main .main-content .content .mini-banners .box1 { width: 400px; padding: 0 .5rem; } }
@media (max-width: 781px) { main .main-content .content .mini-banners .box1 { width: 245px; } }
main .main-content .content .mini-banners .box1 img { width: 100%; }
main .main-content .content .mini-banners .box2 { width: 500px; }
@media (max-width: 1080px) { main .main-content .content .mini-banners .box2 { width: 400px; padding: 0 .5rem; } }
@media (max-width: 781px) { main .main-content .content .mini-banners .box2 { width: 245px; } }
main .main-content .content .mini-banners .box2 img { width: 100%; }

.before-footer { width: 100%; }
.before-footer .ultimo-banner { padding-top: 3rem; width: 100%; }
.before-footer .ultimo-banner img { width: 100%; }
.before-footer .newslatter { display: -webkit-box; display: -ms-flexbox; display: flex; -ms-flex-pack: distribute; justify-content: space-around; -webkit-box-align: center; -ms-flex-align: center; align-items: center; height: 10vh; background: #ffbd07; color: #ffffff; margin-top: 1rem; }
@media (max-width: 600px) { .before-footer .newslatter img { width: 30px; height: 30px; } }
@media (max-width: 600px) { .before-footer .newslatter { height: auto; -ms-flex-wrap: wrap; flex-wrap: wrap; padding: 1rem 0; } }
.before-footer .newslatter h2 { font-size: 18px; font-weight: bold; text-transform: uppercase; }
.before-footer .newslatter h3 { font-size: 16px; font-weight: 300; }
.before-footer .newslatter input { width: 280px; height: 40px; border-radius: 4px; padding: 0 1rem; }
@media (max-width: 1200px) { .before-footer .newslatter input { width: 200px; } }
@media (max-width: 1080px) { .before-footer .newslatter input { width: 100px; } }
@media (max-width: 600px) { .before-footer .newslatter input { width: 90px; height: 30px; } }
.before-footer .newslatter button { width: 135px; height: 40px; background: #101883; color: #ffffff; border-radius: 4px; text-transform: uppercase; }
@media (max-width: 1080px) { .before-footer .newslatter button { width: 80px; } }
@media (max-width: 600px) { .before-footer .newslatter button { width: 50px; height: 30px; font-size: 10px; } }
.before-footer .newslatter .texts-newsletter { display: -webkit-box; display: -ms-flexbox; display: flex; }
@media (max-width: 600px) { .before-footer .newslatter .texts-newsletter { padding-bottom: .5rem; } }
.before-footer .newslatter .texts-newsletter .texts { margin-left: .5rem; }

footer .blue-background-area { display: -webkit-box; display: -ms-flexbox; display: flex; background: #101883; color: #ffffff; -ms-flex-pack: distribute; justify-content: space-around; font-size: 12px; font-weight: 100; padding: 1rem 0; -ms-flex-wrap: wrap; flex-wrap: wrap; }
footer li { list-style: none; padding: .5rem 0; }
footer li:first-child { font-weight: bold; font-size: 14px; }
footer .facebook-and-socials iframe { padding: 1rem 0; }
footer .pagamentos-certificados { display: -webkit-box; display: -ms-flexbox; display: flex; -ms-flex-pack: distribute; justify-content: space-around; -webkit-box-align: center; -ms-flex-align: center; align-items: center; height: 15vh; border-bottom: solid 2px rgba(153, 153, 153, 0.3); }
@media (max-width: 600px) { footer .pagamentos-certificados { flex-direction: column; border-bottom: none; } }
footer .pagamentos, footer .certificados { display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-align: center; -ms-flex-align: center; align-items: center; }
@media (max-width: 600px) { footer .pagamentos, footer .certificados { flex-direction: column; margin: 2rem; padding-top: 2rem; } }
@media (max-width: 600px) { footer .pagamentos img, footer .certificados img { width: 100%; } }
footer address { padding: 0 4rem; font-size: 14px; font-style: normal; }
footer .address-logo { display: -webkit-box; display: -ms-flexbox; display: flex; -ms-flex-pack: distribute; justify-content: space-around; height: 10vh; -webkit-box-align: center; -ms-flex-align: center; align-items: center; padding-bottom: 3rem; }
@media (max-width: 600px) { footer .address-logo { flex-direction: column; padding-top: 10rem; } }
footer .address-logo img { padding-right: 1rem; }

/*# sourceMappingURL=home.css.map */
