$mq-mobile:"(max-width:414px)";
$mq-mobile-h:"(max-width:600px)";
$mq-tablet:"(max-width:781px)";
$mq-ipad-pro:"(max-width:1024px)";
$mq-tablet-h:"(max-width:1080px)";
$mq-desktop:"(max-width:1200px)";
$mq-desktop-2:"(max-width:1279px)";
$mq-height-q:"(max-height:500px)";
$mq-height-s:"(max-height:600px)";
$mq-height-st:"(max-height:700px)";
$mq-height-o:"(min-height:800px)";

.white{
    color: white;
}